<h2>Posts By Category</h2>

<div class="content">
  <p>The aim of this blog is to generally post about tech with the odd thought piece thrown in.  Most of the technical pieces are about the process of building and deploying this very blog you are experiencing now.</p>

  <div class="article-section">
    <h3>Tech</h3>
    <ul>
    {{#posts}}
      {{#compare category 'tech' }}
        <li><a class='posts space-content' href='/posts/{{searchtitle}}'><span>{{title}}</span><span>{{ date }}</span></a></li>
      {{/compare }}
    {{/posts}}
   </ul>
  </div>

  <div class="article-section">
    <h3>Thoughts</h3>
    <ul>
      {{#posts}}
        {{#compare category 'thoughts' }}
          <li><a class='posts space-content' href='/posts/{{searchtitle}}'><span>{{title}}</span><span>{{ date }}</span></a></li>
        {{/compare }}
      {{/posts}}
    </ul>
 </div>

</div>
