{{#post}}
  <meta property="og:url" content="https://blog.mikemjharris.com/posts/{{ searchtitle }}" />
  <meta property="og:type" content="article" />
  {{#compare twittercard undefined }}
    <meta name="twitter:card" content="summary" />
  {{ else }}
    <meta name="twitter:card" content="{{ twittercard }}" />
  {{/compare}}
  {{#compare twitterplayer undefined }}
  {{ else }}
    <meta name="twitter:player" content="{{ twitterplayer}}" />
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:player:width" content="1280">
  {{/compare}}
  <meta name="twitter:site" content="@mikemjharris" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ intro }}" />
  <meta name="og:description" content="{{ intro }}" />
  {{#compare twitterimage undefined }}
    <meta name="twitter:image" content="https://blog.mikemjharris.com/images/icons/icon-512.png" />
    <meta property="og:image" content="https://blog.mikemjharris.com/images/icons/icon-512.png" />
  {{ else }}
    <meta name="twitter:image" content="{{ twitterimage }}" />
    <meta property="og:image" content="{{ twitterimage }}" />
  {{/compare}}
  <div class="header">
    <h2>{{title}}</h2> <a
      target="_blank"
      href="https://twitter.com/intent/tweet?;text={{ title }} by @mikemjharris&amp;url=http://blog.mikemjharris.com/posts/{{ searchtitle }}" id="twitter-share">{{> "_twitter-share" id-prefix='blog'}}</a>
    <div class="post-date">
      Published:  {{ date }}
    </div>
  </div>

  <div class="content">
    {{{ body }}}
  </div>



{{/post}}
