{{#post}}
  <h2>{{title}}</h2>

  <!-- <span>{{ date }}</span> -->
  
  <div class="content">
    <p>{{ intro }}</p>
  {{#body }}
    <h3>{{header}}</h3>
    <p>{{content}}</p>
  {{/body}}
  </div>
{{/post}}