
<h2>All Posts</h2>



<div class="content">
  <div class="error">{{ error }}</div>

  <ul>
    {{#posts}}
      <li><a class='posts' href='/posts/{{searchtitle}}'><span class="space-content"><span>{{title}}</span><span class='desktop'>{{ date }}</span></span>
      <span class="desktop">{{ intro }}</span></a></li>
    {{/posts}}
    </ul>
</div>
